@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  font-family: lato;
  color: white;
}

.header-space {
  width: 100%;
  min-height: 70px;
}

.header {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(12, 12, 12, 0.7);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
}
.header .header-content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header .header-content .carrinho {
  background-color: transparent;
  padding: 10px 11px;
  border-radius: 50%;
  transition: 0.4s;
  border: 1px solid transparent;
}
.header .header-content .carrinho:hover {
  border: 1px solid white;
  box-shadow: 0 0 5px 0px white;
}
.header .header-content .logo {
  border-radius: 4px;
  height: 40px;
}
.header .header-content .header-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.header .header-content .header-list .list-item {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px;
  margin: 0px 10px;
  transition: 0.4s;
}
.header .header-content .header-list .list-item:hover {
  border: 1px solid white;
  box-shadow: 0px 0px 5px 0 white;
}
.header .header-content .header-list .entrar:hover {
  border: 1px solid rgb(41, 194, 41);
  box-shadow: 0px 0px 5px 0 rgb(41, 194, 41);
}
.header .header-content a {
  text-decoration: none;
  color: white;
}

.hidden {
  visibility: hidden;
}

.main {
  cursor: default;
  width: 70%;
  min-height: 500px;
  margin: 50px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 30px;
  position: relative;
}
.main .text h1 {
  color: white;
  font-size: 50px;
}
.main .text p {
  color: #9c9c9c;
}
.main .bar {
  width: 1px;
  height: 80px;
  margin-right: 10px;
  background-image: linear-gradient(to top, white, gray, black);
}

.home {
  text-decoration: none;
  color: white;
  margin: 30px;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
.home:hover {
  border-bottom: 1px solid rgb(102, 255, 0);
  box-shadow: 0 5px 5px -5px rgb(136, 255, 0);
}

.img {
  width: 60%;
  margin: 10px 300px;
  position: fixed;
}

.border {
  border: 1px solid white;
}

/*  Página Entrar  */
.container {
  margin: 50px auto;
  width: 30%;
  padding: 50px 60px;
  background-color: #111111;
  border-radius: 40px;
}
.container form {
  display: flex;
  align-items: baseline center;
  justify-content: center;
  flex-direction: column;
}
.container form .input {
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid #121212;
  height: 40px;
  cursor: text;
  padding: 10px;
}
.container form .input:focus {
  background-color: rgb(199, 199, 199);
}
.container form .input::-moz-placeholder {
  color: #000000;
}
.container form .input::placeholder {
  color: #000000;
}
.container form section {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #9c9c9c;
}
.container form section .criar {
  border: 1px solid transparent;
  width: 100px;
  padding: 4px;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
  text-decoration: none;
  color: rgb(94, 94, 94);
  text-align: center;
}
.container form section .criar:hover {
  border-bottom: 1px solid rgb(50, 150, 243);
  box-shadow: 0 5px 5px -5px rgb(50, 150, 243);
}
.container .submit {
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid #121212;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid white;
}
.container .submit:hover {
  background-color: #121212;
  color: white;
}

.vendas {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  margin: 50px 100px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.vendas .tabela-vendas {
  background-color: #121212;
}
.vendas .tabela-vendas th {
  border-bottom: 1px solid gray;
  margin: 0;
  text-align: center;
  padding: 5px 30px;
}
.vendas .tabela-vendas td {
  text-align: center;
  padding: 5px 30px;
}

.edit {
  cursor: pointer;
  transition: 0.4s;
}
.edit:hover {
  background-color: rgba(15, 0, 228, 0.4);
}

.delete {
  cursor: pointer;
  transition: 0.4s;
}
.delete:hover {
  background-color: rgba(204, 45, 45, 0.4);
}

.confirmar {
  max-width: 300px;
  padding: 5px;
  background-color: #9c9c9c;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 4px;
}
.confirmar:hover {
  background-color: #121212;
}
.confirmar:active {
  scale: 0.95;
}

.carrinho-itens {
  padding: 10px;
  color: white;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 10%;
  min-height: 40%;
}
.carrinho-itens .item {
  margin: 10px 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline center;
  position: relative;
}
.carrinho-itens .item .item-text {
  padding: 5px 10px;
  max-width: 300px;
  background-color: #000000;
}
.carrinho-itens .item .item-img {
  max-width: 250px;
  overflow: hidden;
  background-color: #000000;
}
.carrinho-itens .item .item-img img {
  border-radius: 4px;
  max-width: 250px;
  filter: drop-shadow(0px 0px 1px white);
}/*# sourceMappingURL=style.css.map */